/* Regular (Normal) */
@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto/Roboto-Regular.woff2') format('woff2');
    font-weight: 400; /* Regular weight */
    font-style: normal;
  }
  
  /* Bold */
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto/Roboto-Bold.woff2') format('woff2');
    font-weight: 700; /* Bold weight */
    font-style: normal;
  }
  
  /* Italic */
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto/Roboto-Italic.woff2') format('woff2');
    font-weight: 400; 
    font-style: italic;
  }
  