* {
box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; /* Enables smooth scrolling */
}

/* Utility classes */
.hidden {
    display: none;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
  min-height: 100vh; /* Full height of the viewport */
  width: 100%; /* Full width */
  text-align: center;
  font-size: 2rem;
  background: none;
  box-sizing: border-box;
  background-color: #333333;
}

.section.about-section .aboutPage {
  display: flex;
  flex-direction: column; /* Ensure a column layout for the About section */
}

  
  .section.projects-section { 
    min-height: 50vh;
    background-color:#1a1a1a;
  }
  
  .section.shop-section {
    background-color: #e76f51 !important;
  }
  
  .section.contact-section {
    background-color: #264653 !important;
  }